<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.mapper.SaleMapper">

    <resultMap type="com.pet.entity.Sale" id="SaleMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="customerId" column="customer_id" jdbcType="VARCHAR"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="saleTime" column="sale_time" jdbcType="TIMESTAMP"/>
        <result property="totalAmount" column="total_amount" jdbcType="NUMERIC"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getEchars" resultType="com.pet.entity.Sale">
        SELECT
            DATE( sale_time ) as sale_time,
            SUM( total_amount ) as  total_amount
        FROM
            sale
        WHERE
            deleted = 0
        GROUP BY
            sale_time;
    </select>

</mapper>

